.menuContainer {
    height: 47px;
    width: 97vw;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid white;
    position: fixed;
    bottom: env(safe-area-inset-bottom, 0);
    padding: 1px 0;
    z-index: 1000;
    background: #23344f;
    margin-bottom: 3px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 11px;
        margin-left: 20px;
        margin-right: 20px;
        cursor: pointer;

        img {
            width: 26px;
            height: 26px;
        }

        h3 {
            margin-top: 0;
            font-size: 12px;
        }
    }
}

@media (min-width: 422px) {
    .menuContainer {
        height: 56px;

        .item {
            margin-top: 13px;
            margin-left: 24px;
            margin-right: 24px;

            img {
                width: 31px;
                height: 31px;
            }

            h3 {
                font-size: 14px;
            }
        }
    }
}