.menuContainer {
    height: 47px;
    width: 97vw;
    max-width: 500px;
    border-radius: 10px;
    border: 1px solid white;
    position: fixed;
    bottom: 0;
    padding: 1px 0;
    z-index: 1000;
    margin-bottom: 5px;
    background: #23344f;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-bottom: env(safe-area-inset-bottom);
    margin-bottom: 10px;

    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 52px;
        cursor: pointer;
        margin-top: 11px;
    


        img {
            width: 26px;
            height: 26px;
        }

        h3 {
            margin-top: 4px;
            font-size: 12px;
            font-family: 'Aeroport Light', sans-serif;
            color: white;
        }
    }
}

@media (min-width: 422px) {
    .menuContainer {
        height: 56px;

        .item {
            img {
                width: 31px;
                height: 31px;
            }

            h3 {
                font-size: 14px;
            }
        }
    }
}

body {
    padding-bottom: 10px; /* Пространство для фиксации меню */
}