body {
    margin: 0;
    text-align: center;
    padding-bottom: env(safe-area-inset-bottom);
}

body {
    padding-top: var(--tg-viewport-safe-area-inset-top, 0px);
    padding-bottom: var(--tg-viewport-safe-area-inset-bottom, 0px);
    padding-left: var(--tg-viewport-safe-area-inset-left, 0px);
    padding-right: var(--tg-viewport-safe-area-inset-right, 0px);
}

* {
    font-family: 'Inter', system-ui;
    color: white;
}