.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    h2 {
        margin-left: 15px;
        font-size: 26px;
    }

    @media (min-width: 900px) {
        .tcBtn {
            margin-right: 32%;
        }
    
        .testnetText {
            margin-left: 32%;
        }
    
    }
}

.tgContainer {
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: hidden; 
    overflow-x: hidden;

    .desc {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px; 

        h1, h2 {
            margin: 0; 
        }

    }

    .noContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #23344f;
        border: 1px solid white;
        border-radius: 12px;
        width: 97vw;
        max-width: 500px;
        margin-top: 10px;
        margin-bottom: 40px;

        .noWallet {
            margin-top: 40px;
            margin-bottom: 50px;

            img {
                width: 40px;

            }

            h2 {
                margin-top: 0;
                font-size: 20px;
                margin-bottom: 0;
                color: #477ebe;
            }
    
            h3 {
                margin-top: 5px;
                font-size: 20px;
                font-weight: 400;
            }

        }

    }
 

    .nftContainer::-webkit-scrollbar {
        display: none; 
    }
    
    @media (min-width: 422px) {
        .nftContainer {
            margin-bottom: 50px;
        }
    }
}

.tcBtn {
    padding: 7px;
    margin-left: auto;
    position: relative;
}