body {
    background: #152236;
}

.notContainer {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;

    h1 {
        font-size: 24px;
    }
}
